<!-- Page Footer-->
<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>AURELIEN GUIDI &copy; 2020-2021</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Développé par<a href="https://aquama.ch" class="external" target="_blank">AURELIEN GUIDI</a></p>
        </div>
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../static/js/active_url.js"></script>