<option value="geneve">Geneve</option>
<option value="lausanne">Lausanne</option>
<option value="paris">Paris</option>
<option value="marseille">Marseille</option>
<option value="barcelone">Barcelone</option>
<option value="rome">Rome</option>