<option value="suisse">SUISSE</option>
<option value="france">FRANCE</option>
<option value="allemagne">ALLEMAGNE</option>
<option value="italie">ITALIE</option>
<option value="espagne">ESPAGNE</option>
<option value="portugal">PORTUGAL</option>