<li> <a href="/admin/"><i class="icon-home"></i>Accueil</a></li>
<li> <a href="/admin/add_product_slider"><i class="fa fa-plus-circle"></i>Ajouter un nouveau produit Slider</a></li>
<li><a href="/admin/add_product"><i class="fa fa-plus"></i>Ajouter un nouveau produit</a></li>
<li><a href="/admin/add_category"><i class="fa fa-star-o"></i>Ajouter une nouvelle catégorie</a></li>
{% if permission == 'admin' %}
<li><a href="/admin/add_user"><i class="fa fa-user-plus"></i>Créer un compte</a></li>
{% endif %}
<li><a href="/admin/slider_products_table"> <i class="fa fa-sliders"></i>Tableau des produits coulissants</a></li>
<li><a href="/admin/review_slider_products"> <i class="fa fa-comments-o"></i>Tableau d'examen des curseurs</a></li>
<li><a href="/admin/products_table"> <i class="icon-grid"></i>Tableau des produits</a></li>
<li><a href="/admin/review_products"> <i class="fa fa-comment-o"></i>Consulter le tableau des produits</a></li>
<li><a href="/admin/categories_table"> <i class="fa fa-bars"></i>Tableau des catégories</a></li>
<li><a href="/admin/users_table"> <i class="fa fa-users"></i>Tableau des utilisateurs</a></li>
<li><a href="/admin/orders_table"> <i class="fa fa-check"></i>Tableau des commandes</a></li>
<li><a href="/admin/messages_table"> <i class="fa fa-envelope-o"></i>Tableau des messages</a></li>
{#<li><a href="/admin/login"> <i class="icon-interface-windows"></i>Page de connexion</a></li>#}