	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shop</h2>
							<p>Petit site web pour le module 104 de Mr.Maccaud EPSIC</p>
						</div>
					</div>
					<div class="col-sm-7">

					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="../static/user/images/home/map.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2020 E-Shop de aurelien guidi. Tous les droits sont réservés.</p>
					<p class="pull-right">Conçu et développé par <span><a target="_blank" href="https://www.facebook.com/osama.agrfay">AURELIEN GUIDI</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->