<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Categorie de produit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- Favicon-->
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}

      <style>
          form label{
              color: #000;
              font-weight: 600;
          }
      </style>
  </head>
  <body>
    <div class="page charts-page">
      <!-- Main Navbar-->
      {% include 'includes/nav_bar.html' %}

      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../../static/uploads/users/{{ admin_name }}/{{ admin_image }}" class="img-fluid rounded-circle" style="width: 46px; height: 46px;"></div>
            <div class="title">
              <h1 class="h4">{{ admin_name }}</h1>
              <p style="min-width: 164px; max-width: 195px;">Administrateur du site Web</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            {% include 'includes/side_bar.html' %}
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Category Products</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Page d'accueil</a></li>
              <li class="breadcrumb-item active">Tous les produits de la catégorie &#8208; {{ category }}</li>
            </ul>
          </div>
        <section>
            <div class="container-fluid">
            <h3 class="text-center" style="margin-top: -20px; margin-bottom: 50px;">Found {{ categories | length }} {% if categories | length == 0 or categories | length == 1 %} Product {% else %} Products {% endif %}</h3>
            {% include 'includes/_messages.html' %}
              <div class="row">
                  {% for product in categories %}
                    <div class="col-sm-3 text-center" style="padding-right: 15px; padding-left: 15px; margin-bottom: 50px;">
                    <div style="border: 3px solid #7dc2ea;">
                        <a href="/admin/product/{{ product.id }}"><img src="../../static\uploads\products\{{ product.product_name }}\{{ product.files }}" style="height: 232px; max-width: 100%;"/></a>
                        <h2>&#36;{{ product.price }}</h2>
                        <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | round(2, 'common')}} &#37; OFF</h3>
                        <p style="max-width: 252px; overflow: hidden;">{{ product.product_name | truncate(30) }}</p>
                        <p><b>AVG Rate:</b>&emsp;
                            {% if product.avg_rate in range(1,6) %}
                            {{ product.avg_rate | int }}
                            &#47; {{ 5 }}
                            {% elif product.avg_rate == 0.1,6.0 %}
                                {% if product.avg_rate == 0 %}
                                {{ 'Not Rated Yet' }}
                                {% else %}
                                {{ product.avg_rate | round(2, 'common') }}
                                &#47; {{ 5 }}
                                {% endif %}
                            {% elif product.avg_rate == None %}
                            {{ 'Not Rated Yet' }}
                            {% endif %}
                        </p>
                    </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>
    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../static/js/front.js"></script>
  </body>
</html>