<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administrateur | Connexion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- Favicon-->
{#    <link rel="shortcut icon" href="../static/favicon.png">#}
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Tableau d'administration</h1>
                  </div>
                  <p class="text-center">pour les administrateurs seulement</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  {% include 'includes/_messages.html' %}
                  <form id="login-form" method="post" action="">
                    <div class="form-group">
                      <input id="login-username" type="text" name="username" value="{{request.form.username}}" required="" class="input-material" autocomplete="off">
                      <label for="login-username" class="label-material">Pseudo</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="password" value="{{request.form.password}}" required="" class="input-material" autocomplete="off">
                      <label for="login-password" class="label-material">Mot de passe</label>
                    </div>
                      <button type="submit" class="btn btn-primary align-center">Se connecter &ensp;<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                      <br>
                      <br>
                      <span>Mot de passe oublier ? &ensp; <a href="/admin/admin_forget_password">Reinitialiser votre mot de passe</a></span>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Developed by AURELIEN GUIDI</p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../static/js/front.js"></script>
  </body>
</html>