<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Vue du produit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- Favicon-->
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}

      <style>
          form label{
              color: #000;
              font-weight: 600;
          }
      </style>
  </head>
  <body>
    <div class="page charts-page">
      <!-- Main Navbar-->
      {% include 'includes/nav_bar.html' %}

      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../../static/uploads/users/{{ admin_name }}/{{ admin_image }}" class="img-fluid rounded-circle" style="width: 46px; height: 46px;"></div>
            <div class="title">
              <h1 class="h4">{{ admin_name }}</h1>
              <p style="min-width: 164px; max-width: 195px;">Administrateur du site Web</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            {% include 'includes/side_bar.html' %}
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Aperçu du produit</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
              <li class="breadcrumb-item active">Aperçu du produit</li>
            </ul>
          </div>
          <section class="tables">
            <div class="container-fluid">
              <div class="row">
                  <br>
              <div class="container">
                {% block body %}
                {% include 'includes/_messages.html' %}
                    <h3>Nom : &emsp; {{ product.product_name }}</h3>
                    <br>
                    <p><b>Web ID</b> : &emsp; {{ product.id }}</p>
                    <p><b>Prix</b> : &emsp; {{ product.price }} CHF</p>
                    <p><b>Remise</b> : &emsp; {{ product.discount }} CHF</p>
                    <p><b>Prix apres remise</b> : &emsp; {{ product.price - product.discount }} CHF</p>
                    <p><b>Quantite</b> : &emsp;
                        {% if product.quantity == 1 or product.quantity > 1  %}
                        {{ product.quantity }}
                        {% elif product.quantity == 0 %}
                        {{ 0 }}
                        {% endif %}
                    </p>
                    <p><b>AVIS</b> : &emsp;
                        {% if rate['avg_rate'] in range(1,6) %}
                        {{ rate['avg_rate'] | int }}
                        &#47; 5
                        {% elif rate['avg_rate'] == 0.1,6.0 %}
                            {% if rate['avg_rate'] == None %}
                            {{ 'aucun avis' }}
                            {% else %}
                            {{ rate['avg_rate'] | round(2, 'common') }}
                            &#47; 5
                            {% endif %}
                        {% elif rate['avg_rate'] == None %}
                        {{ 'aucu avis' }}
                        {% endif %}
                    </p>
                    <p><b>Categorie</b> : &emsp; {{ product.category }}</p>
                    <p><b>Publier le </b> :&emsp; {{ product.create_date.strftime('%A, %d %b %Y %H:%M:%S') }}</p>
                    <p><b>Description</b> : &emsp; {{ product.description }}</p>
                    <img src="../../static\uploads\slider_products\{{ product.product_name }}\{{ product.files }}" style="max-width: 50%; max-height: 50%; display: block; margin: 25px auto;"/>

                    {% if reviewresult == 1 %}
                    <hr style="border: 1px solid rgba(0, 0, 0, .5);">
                    <p><b>Last Review by</b> : &emsp; {{ review.user_name }}</p>
                    <p><b>Last Review in</b> : &emsp; {{ review.review_date.strftime('%A, %d %b %Y %H:%M:%S') }}</p>
                    <p class="text-justify"><b>Review</b> : &emsp; {{ review.review }}</p>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                {% endblock %}
              </div>
              </div>
            </div>
          </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>
    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../static/js/front.js"></script>
  </body>
</html>