<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administrateur | Nouveau produit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- Favicon-->
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}

      <style>
          form label{
              color: #000;
              font-weight: 600;
          }
      </style>
  </head>
  <body>
    <div class="page charts-page">
      <!-- Main Navbar-->
      {% include 'includes/nav_bar.html' %}

      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../static/uploads/users/{{ admin_name }}/{{ admin_image }}" class="img-fluid rounded-circle" style="width: 46px; height: 46px;"></div>
            <div class="title">
              <h1 class="h4">{{ admin_name }}</h1>
              <p style="min-width: 164px; max-width: 195px;">Administrateur du site Web</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            {% include 'includes/side_bar.html' %}
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Ajouter un nouveau produit</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Acceuil</a></li>
              <li class="breadcrumb-item active">Ajouter un nouveau produit</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                  <br>
              <div class="container">
                {% block body %}
                {% include 'includes/_messages.html' %}
                {% from "includes/_formhelpers.html" import render_field %}
                <form method="post" action="" enctype="multipart/form-data" style="color: #FFF;">
                    <div class="form-group">
                        <label>Selectionner la categorie</label>;
                        <select name="categories" class="btn btn-outline-primary btn-sm dropdown-toggle">
{#                            {% include 'includes/select.html' %}#}
                            {% for cate in categories %}
                                <option value="{{ cate['category'] }}">{{ cate['category'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        {{ render_field(form.product_name, class="form-control", style="max-width: 75%;", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.description, class="form-control", style="max-width: 75%;", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.price, class="form-control", style="max-width: 20%;", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.discount, class="form-control", style="max-width: 20%;", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.quantity, class="form-control", style="max-width: 20%;", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        <label>Ajouter une image à votre produit</label>
                        <input type="file" name="file" class="form-control" style="max-width: 21%;">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Ajouter un nouveau produit">
                </form>
                {% endblock %}
              </div>
              </div>
            </div>
          </section>
        <br>
        <br>
        <br>
        <br>
        <br>
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>
    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../static/js/front.js"></script>
  </body>
</html>