<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Tableau des commandes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- Favicon-->
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}
  </head>
  <body>
    <div class="page charts-page">
      <!-- Main Navbar-->
      {% include 'includes/nav_bar.html' %}

      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../static/uploads/users/{{ admin_name }}/{{ admin_image }}" class="img-fluid rounded-circle" style="width: 46px; height: 46px;"></div>
            <div class="title">
              <h1 class="h4">{{ admin_name }}</h1>
              <p style="min-width: 164px; max-width: 195px;">Administrateur du site Web</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            {% include 'includes/side_bar.html' %}
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Tableau</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Page d'accueil</a></li>
                <li class="breadcrumb-item">Tableau</li>
                <li class="breadcrumb-item active">Tableau des commandes</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                  <!-- start my users table -->
                  <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
                            <a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Fermer</a>
                            <a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Editer</a>
{#                            <a href="/admin/accept_all_orders" class="dropdown-item edit"> <i class="fa fa-check"></i>Tout accepter</a>#}
{#                            <a href="/admin/reject_all_orders" class="dropdown-item edit"> <i class="fa fa-times"></i>Tout refuser</a>#}

                            <!-- Button trigger modal -->
                            <a class="dropdown-item edit" href="" data-toggle="modal" data-target="#accept_all_orders">
                              <i class="fa fa-check"></i>Accepter toutes les commandes
                            </a>

                            <!-- Button trigger modal -->
                            <a class="dropdown-item edit" href="" data-toggle="modal" data-target="#reject_all_orders">
                              <i class="fa fa-times"></i>Refuser toutes les commandes
                            </a>


                        </div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Tableau des commandes &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; commandes : &emsp; {{ orders | length }}</h3>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Pseudo</th>
                            <th>Nom du produit</th>
                            <th>Status</th>
                            <th>Quantite</th>
                            <th>Prix</th>
                            <th>Remise</th>
                            <th>Total</th>
                            <th>Date de commande</th>
                            <th>Accepter</th>
                            <th>Refuser</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                          <tr>
                            <td><a href="/admin/show_orders/{{ order.user_name }}">{{ order.user_name }}</a></td>
                            <td>{{ order.product_name }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.discount }}</td>
                            <td>{{ (order.price - order.discount) * order.quantity }}</td>
                            <td>{{ order.order_date.strftime('%a, %d %b %Y %H:%M:%S') }}</td>
{#                            <td><a href="/admin/accept_orders/{{ order.product_id }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i>&emsp; Accepter</a></td>#}
{#                            <td><a href="/admin/reject_orders/{{ order.product_id }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i>&emsp; Refuser</a></td>#}

                            <td>

                                <!-- Button trigger modal -->
                                <button class="btn btn-sm btn-outline-primary" href="" data-toggle="modal" data-target="#accept{{ order.id }}">
                                  <i class="fa fa-check"></i> &emsp; Accepter
                                </button>
                                <!-- accept order modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="accept{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="border-radius: 6px;">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Accept Order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Voulez-vous vraiment accepter la commande?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a href="/admin/accept_orders/{{ order.id }}"><button class="btn btn-primary">Confirmer</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </td>



                            <td>

                                <!-- Button trigger modal -->
                                <button class="btn btn-sm btn-outline-danger" href="" data-toggle="modal" data-target="#reject{{ order.id }}">
                                  <i class="fa fa-times"></i> &emsp; Refuser
                                </button>
                                <!-- reject order modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="reject{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="border-radius: 6px;">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Refuser commande</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Voulez-vous vraiment rejeter la commande?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a href="/admin/reject_orders/{{ order.id }}"><button class="btn btn-danger">Confirmer</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                  <!-- end my users table -->
              </div>
            </div>




            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </section>
        <br>
        <br>
        <br>
        <br>
        <br>
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>




    <!-- accept_all_orders modal -->
    <!-- Modal -->
    <div class="modal fade" id="accept_all_orders" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 6px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Accept All orders</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to accept all orders ?
            <br>
            <br>
            You have : &emsp; {{ orders | length }} &emsp; {% if orders|length == 1 or orders|length == 0 %} order {% else %} orders {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="/admin/accept_all_orders"><button class="btn btn-primary">Confirm Accept</button></a>
          </div>
        </div>
      </div>
    </div>




    <!-- reject_all_orders modal -->
    <!-- Modal -->
    <div class="modal fade" id="reject_all_orders" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 6px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reject All Orders</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to reject all orders ?
            <br>
            <br>
            You have : &emsp; {{ orders | length }} &emsp; {% if orders|length == 1 or orders|length == 0 %} order {% else %} orders {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="/admin/reject_all_orders"><button class="btn btn-danger">Confirm Reject</button></a>
          </div>
        </div>
      </div>
    </div>




    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../static/js/front.js"></script>
  </body>
</html>