<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Tabbleau des categorie</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../static/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- Favicon-->
{#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
{#        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}
  </head>
  <body>
    <div class="page charts-page">
      <!-- Main Navbar-->
      {% include 'includes/nav_bar.html' %}

      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../static/uploads/users/{{ admin_name }}/{{ admin_image }}" class="img-fluid rounded-circle" style="width: 46px; height: 46px;"></div>
            <div class="title">
              <h1 class="h4">{{ admin_name }}</h1>
              <p style="min-width: 164px; max-width: 195px;">Administrateur du site Web</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            {% include 'includes/side_bar.html' %}
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Tableau</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Page d'accueil</a></li>
                <li class="breadcrumb-item">Tableau</li>
                <li class="breadcrumb-item active">Tableau des categories</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                  <!-- start my products table -->
                  <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      {% if permission == 'admin' %}
                      <div class="dropdown">
                        <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
                            <a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Fermer</a>
                            <a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Editer</a>
{#                            <a href="{{ url_for('delete_all_categories') }}" class="dropdown-item edit"> <i class="fa fa-times"></i>Supprimer toutes les catégories</a>#}

                            <!-- Button trigger modal -->
                            <a class="dropdown-item edit" href="" data-toggle="modal" data-target="#delete_all_categories">
                              <i class="fa fa-times"></i>Supprimer toutes les catégories
                            </a>

                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Table des categorie &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; categories : &emsp; {{ categories | length }}</h3>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Categorie</th>
                            <th></th>
                            <th></th>
                            <th>Produit</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Editer</th>
                            {% if permission == 'admin' %}
                            <th>Delete</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}

                          <tr>
                            <td><a href="/admin/categories/{{ category.category }}" >{{ category.category }}</a></td>
                            <td></td>
                            <td></td>
                            <td>{{ category.number_of_products }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="/admin/edit_category/{{ category.category }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&emsp; Editer</a></td>
{#                            <td><a href="/admin/delete_category/{{ category.category }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i>&emsp; Suprimmer</a></td>#}

                            {% if permission == 'admin' %}
                            <td>


                                <!-- Button trigger modal -->
                                <button class="btn btn-sm btn-outline-danger" href="" data-toggle="modal" data-target="#delete_category{{ category.category }}">
                                  <i class="fa fa-times"></i> &emsp; Suprimmer
                                </button>

                                <!-- delete_slider_product modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="delete_category{{ category.category }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="border-radius: 6px;">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Supprimer la catégorie
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Voulez-vous vraiment supprimer cette catégorie du site Web, de ses produits et de leurs fichiers?
                                        <br>
                                        Vous avez : &emsp; {{ category.number_of_products }} &emsp; {% if category.number_of_products == 1 or category.number_of_products == 0 %} produits {% else %} produits {% endif %}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a href="/admin/delete_category/{{ category.category }}"><button class="btn btn-danger">Confirmer</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                            </td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                  <!-- end my products table -->
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </section>
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>





    <!-- delete_all_categories modal -->
    <!-- Modal -->
    <div class="modal fade" id="delete_all_categories" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 6px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Supprimer toutes les catégories</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Voulez-vous vraiment supprimer toutes les catégories du site Web, de ses produits et de leurs fichiers?
            <br>
            <br>
            Vous avez : &emsp; {{ count_products }} &emsp; {% if count_products == 1 or count_products == 0 %} produits {% else %} produits {% endif %} in &emsp; {{ count_categories }} &emsp; {% if count_categories == 1 or count_categories == 0 %} categorie {% else %} categorie {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <a href="{{ url_for('delete_all_categories') }}"><button class="btn btn-danger">Confirmer</button></a>
          </div>
        </div>
      </div>
    </div>







    <!-- Javascript files-->
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="../static/js/front.js"></script>
  </body>
</html>