<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achat</title>
    <link href="../static/i.ico" rel="icon">
    <link href="../static/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/user/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/user/css/price-range.css" rel="stylesheet">
    <link href="../static/user/css/animate.css" rel="stylesheet">
	<link href="../static/user/css/main.css" rel="stylesheet">
	<link href="../static/user/css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		{% include 'includes/website_navbar.html' %}
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="../static/user/images/home/logo.png" alt="" /></a>
						</div>

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                {% if session.user_logged_in %}
								<li><a href="/user_account"><i class="fa fa-user"></i> Compte</a></li>
								<li><a href="/add_to_cart"><i class="fa fa-shopping-cart"></i> Panier</a></li>
								<li><a href="/user_logout"><i class="fa fa-lock"></i> Se deconnecter</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Page d'accueil</a></li>
								<li class="dropdown"><a href="#" class="active">Boutique<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products/1">Produits</a></li>
                                        {% if session.user_logged_in %}
										<li><a href="/buy" class="active">Checkout</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Page d'accueil</a></li>
				  <li class="active">Panier</li>
				</ol>
			</div>
            {% include 'includes/_messages.html' %}
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Que voulez-vous faire ensuite?</h3>
				<p>Choisissez si vous avez un code de réduction ou des points de récompense que vous souhaitez utiliser ou souhaitez estimer votre coût de livraison.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
                        {% from "includes/_formhelpers.html" import render_field %}
                        <form method="post" action="{{ url_for('buy') }}" style="margin-left: 25px;">
                            <div class="form-group">
                                <label>Choisissez le pays</label> &emsp;
                                <select name="country" class="btn btn-default btn-sm dropdown-toggle">
                                    {% include 'includes/select_country.html' %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Choisissez une région</label> &emsp;
                                <select name="region" class="btn btn-default btn-sm dropdown-toggle">
                                    {% include 'includes/select_region.html' %}
                                </select>
                            </div>
                            <div class="form-group">
                                {{ render_field(form.address, class="form-control", autocomplete="off") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.phone_number, class="form-control", autocomplete="off") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.comments, class="form-control", autocomplete="off") }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" style="display: block; margin: 10px auto; padding: 10px 50px;"><i class="fa fa-check"></i>&emsp; Acheter</button>
                        </form>

					</div>
				</div>

			</div>
		</div>
	</section><!--/#do_action-->

    {% include 'includes/website_footer.html' %}

    <script src="../static/user/js/jquery.js"></script>
	<script src="../static/user/js/bootstrap.min.js"></script>
	<script src="../static/user/js/jquery.scrollUp.min.js"></script>
    <script src="../static/user/js/jquery.prettyPhoto.js"></script>
    <script src="../static/user/js/main.js"></script>
</body>
</html>