<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link href="../static/i.ico" rel="icon">
    <link href="../static/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/user/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/user/css/price-range.css" rel="stylesheet">
    <link href="../static/user/css/animate.css" rel="stylesheet">
	<link href="../static/user/css/main.css" rel="stylesheet">
	<link href="../static/user/css/responsive.css" rel="stylesheet">
    <style>
        .cart_product{
            margin: 0;
        }
    </style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		{% include 'includes/website_navbar.html' %}
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="../static/user/images/home/logo.png" alt="" /></a>
						</div>

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                {% if session.user_logged_in %}
								<li><a href="/user_account"><i class="fa fa-user"></i> Compte</a></li>
								<li><a href="" class="active"><i class="fa fa-shopping-cart"></i> Panier</a></li>
								<li><a href="/user_logout"><i class="fa fa-lock"></i> Se deconnecter</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Pas d'accueil</a></li>
								<li class="dropdown"><a href="#" class="active">Boutique<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products/1">Produits</a></li>
                                        {% if session.user_logged_in %}
										<li><a href="/add_to_cart" class="active">Panier</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Accueil</a></li>
				  <li class="active">Panier</li>
				</ol>
			</div>
            {% include 'includes/_messages.html' %}
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Produits</td>
							<td class="description">Nom</td>
							<td class="price">Prix</td>
                            <td class="price">Remise</td>
							<td class="quantity">Quantite</td>
							<td class="total">Total</td>
							<td>Suprimmer</td>
						</tr>
					</thead>
					<tbody>


                        {% for order in orders %}
						<tr>
                        <td class="cart_product">
							<a href="/preview_production/{{ order.product_id }}"><img style="max-width: 110px; max-height: 110px;" src="../../static/uploads/products/{{ order.product_name }}/{{ order.files }}"></a>
                            <a href="/preview_production_slider/{{ order.product_id - order.product_id - order.product_id }}"><img style="max-width: 110px; max-height: 110px;" src="../../static/uploads/slider_products/{{ order.product_name }}/{{ order.files }}"></a>
                        </td>
                        <td class="cart_description">
                            <h4>{{ order.product_name }}</h4>
                        </td>
                        <td class="cart_price">
                            <p>{{ order.price }} CHF </p>
                        </td>
                        <td class="cart_price">
                            <p>{{ order.discount }} CHF </p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="/increase_cart_product_quantity/{{ order.product_id }}"> <span style="display: block; margin-top: 3px;">+</span> </a>
                                <form method="post" action="/edit_cart_product_quantity/{{ order.product_id }}">
                                    <input class="cart_quantity_input" type="text" name="quantity" value="{{ order.quantity }}" autocomplete="off" size="4">
                                </form>
                                <a class="cart_quantity_down" href="/decrease_cart_product_quantity/{{ order.product_id }}"> <span style="display: block; margin-top: 3px;">-</span> </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{ ((order.price - order.discount) * order.quantity) | round(2, 'common') }} CHF</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="/delete_product_from_cart/{{ order.product_id }}"><i class="fa fa-times"></i></a>
                        </td>
						</tr>

                        {% endfor %}



                        <tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="4">
								<table class="table table-condensed total-result">
									<tr>
										<td>Nombre de produits</td>
										<td>{{ orders | length }}</td>
									</tr>
									<tr>
										<td>Quantite</td>
                                        {% if f | length == 0 %}
                                        <td>0</td>
                                        {% else %}
										<td>{{ quantity }}</td>
                                        {% endif %}
									</tr>
									<tr class="shipping-cost">
										<td>Frais de port</td>
										<td>Gratuit</td>
									</tr>
									<tr>
										<td>Total</td>
                                        {% if f | length == 0 %}
                                        <td><span>0 CHF</span></td>
                                        {% else %}
										<td><span>{{ price | round(2, 'common') }} CHF</span></td>
                                        {% endif %}
									</tr>
								</table>
{#                            <a href="{{ url_for('buy') }}" class="btn btn-primary">Terminer la demande d'achat &raquo;</a>#}
                                <!-- Button trigger modal -->
                                <button class="btn btn-primary btn-lg" href="" data-toggle="modal" data-target="#confirm_buy" style="display: block; margin: 10px auto; padding: 10px 50px;">
                                  <i class="fa fa-check"></i>&emsp; Terminer la demande d'achat &emsp; &raquo;
                                </button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

    {% include 'includes/website_footer.html' %}
	


    <!-- confirm buy products modal -->
    <!-- Modal -->
    <div class="modal fade" id="confirm_buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation d'achat de produits</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir acheter ces produits?
            <br>
            <br>
            Tu a acheté : {{ orders | length }} {% if orders | length == 1 or orders | length == 0 %} produits {% else %} produits {% endif %}
            <br>
            avec une quantité de :
              {% if f | length == 0 %}
               0
              {% else %}
              {{ quantity }}
              {% endif %}
            <br>
            est le montant total est de :
              {% if f | length == 0 %}
              {{ 0 }}
              {% else %}
              {{ price | round(2, 'common') }} CHF
              {% endif %}
          </div>
          <div class="modal-footer">
            <a type="button" href="" data-dismiss="modal"><button class="btn btn-danger">Suprimmer</button></a>
            <a type="button" href="{{ url_for('buy') }}"><button class="btn btn-success">Confirmer l'achat</button></a>
          </div>
        </div>
      </div>
    </div>



    <script src="../static/user/js/jquery.js"></script>
	<script src="../static/user/js/bootstrap.min.js"></script>
	<script src="../static/user/js/jquery.scrollUp.min.js"></script>
    <script src="../static/user/js/jquery.prettyPhoto.js"></script>
    <script src="../static/user/js/main.js"></script>
</body>
</html>