<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorie</title>
    <link href="../static/i.ico" rel="icon">
    <link href="../static/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/user/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/user/css/price-range.css" rel="stylesheet">
    <link href="../static/user/css/animate.css" rel="stylesheet">
	<link href="../static/user/css/main.css" rel="stylesheet">
	<link href="../static/user/css/responsive.css" rel="stylesheet">
    <style>
        h2.no_border:after{
            border: hidden;
        }
    </style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		{% include 'includes/website_navbar.html' %}
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="../static/user/images/home/logo.png" alt="" /></a>
						</div>

					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{% if session.user_logged_in %}
                                <li><a href="/user_account"><i class="fa fa-user"></i> Compte</a></li>
								<li><a href="/add_to_cart"><i class="fa fa-shopping-cart"></i> Panier</a></li>
                                <li><a href="/user_logout"><i class="fa fa-lock"></i>Se deconnecter</a></li>
                                {% else %}
                                <li><a href="/user_register"><i class="fa fa-edit"></i>S'enrengistrer</a></li>
								<li><a href="/user_login"><i class="fa fa-lock"></i>Se connecter</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">

                                <li><a href="/">Page d'accueil</a></li>
								<li class="dropdown"><a href="#" class="active">Boutique<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products/1">Produit</a></li>
										<li><a href="" class="active">Categorie</a></li>
                                        {% if session.user_logged_in %}
										<li><a href="/add_to_cart">Panier</a></li>
                                        {% else %}
										<li><a href="/user_login">Se connecter</a></li>
                                        {% endif %}
                                    </ul>
                                </li>

							</ul>
						</div>
					</div>

				</div>
				</div>
			</div>
	</header>

	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorie</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for category in all_categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/categories/{{ category.category }}">{{ category.category }} &emsp; ({{ category.number_of_products }})</a></h4>
								</div>
							</div>
                            {% endfor %}

						</div><!--/category-productsr-->


						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Categories de produits</h2>
                        <h2 class="title text-center no_border">Trouver {{ categories | length }} {% if categories | length == 0 or categories | length == 1 %} Produits {% else %} Produits {% endif %}</h2>
                        {% include 'includes/_messages.html' %}

                        {% for product in categories %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                        <a href="/preview_production/{{ product.id }}"><img src="../../static\uploads\products\{{ product.product_name }}\{{ product.files }}" style="height: 232px;"/></a>
										<h2>{{ product.price }} CHF</h2>
                                        <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | round(2, 'common')}} &#37; de reduction</h3>
										<p style="max-width: 252px; overflow: hidden;">{{ product.product_name | truncate(30) }}</p>
                                        <p><b>Notation</b>&emsp;
                                            {% if product.avg_rate in range(1,6) %}
                                            {{ product.avg_rate | int }}
                                            &#47; {{ 5 }}
                                            {% elif product.avg_rate == 0.1,6.0 %}
                                                {% if product.avg_rate == 0 %}
                                                {{ 'Pas de notation' }}
                                                {% else %}
                                                {{ product.avg_rate | round(2, 'common') }}
                                                &#47; {{ 5 }}
                                                {% endif %}
                                            {% elif product.avg_rate == None %}
                                            {{ 'Pas de notation' }}
                                            {% endif %}
                                        </p>
                                        {% if product.quantity == 1 or product.quantity > 1  %}
										<a href="/add_product_to_cart/{{ product.id }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                        {% elif product.quantity == 0 %}
                                        <a href="" class="btn btn-danger" style="margin-bottom: 23px; margin-top: 2px; margin-left: 25px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                        {% endif %}
									</div>
                                    <img src="../static/user/images/home/new.png" class="new" alt="" />
{#									<img src="../static/user/images/home/sale.png" class="new" alt="" />#}
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="/add_to_compare/{{ product.id }}"><i class="fa fa-plus-square"></i>Ajouter au comparatif</a></li>
									</ul>
								</div>
							</div>
						</div>
                        {% endfor %}


					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

    {% include 'includes/website_footer.html' %}
  
    <script src="../static/user/js/jquery.js"></script>
	<script src="../static/user/js/price-range.js"></script>
    <script src="../static/user/js/jquery.scrollUp.min.js"></script>
	<script src="../static/user/js/bootstrap.min.js"></script>
    <script src="../static/user/js/jquery.prettyPhoto.js"></script>
    <script src="../static/user/js/main.js"></script>
</body>
</html>