<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperçu du produit</title>
    <link href="../../static/aquama.ico" rel="icon">
    <link href="../../../static/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../../static/user/css/prettyPhoto.css" rel="stylesheet">
    <link href="../../../static/user/css/price-range.css" rel="stylesheet">
    <link href="../../../static/user/css/animate.css" rel="stylesheet">
	<link href="../../../static/user/css/main.css" rel="stylesheet">
	<link href="../../../static/user/css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		{% include 'includes/website_navbar.html' %}
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="../../../static/user/images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                {% if session.user_logged_in %}
                                <li><a href="/user_account"><i class="fa fa-user"></i> Compte</a></li>
								<li><a href="/add_to_cart"><i class="fa fa-shopping-cart"></i> Panier</a></li>
                                <li><a href="/user_logout"><i class="fa fa-lock"></i>Se déconnecter</a></li>
                                {% else %}
                                <li><a href="/user_register"><i class="fa fa-edit"></i>S'inscrire</a></li>
								<li><a href="/user_login"><i class="fa fa-lock"></i>Se connecter</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Acceuil</a></li>
								<li class="dropdown"><a href="#" class="active">Boutique<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products/1">Produits</a></li>
										<li><a href="" class="active">Product Details</a></li>
                                        {% if session.user_logged_in %}
										<li><a href="/add_to_cart">Panier</a></li>
                                        {% else %}
										<li><a href="/user_login">Se connecter</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categories</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for category in categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/categories/{{ category.category }}">{{ category.category }} &emsp; ({{ category.number_of_products }})</a></h4>
								</div>
							</div>
                            {% endfor %}

						</div><!--/category-products-->


						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-12" style="margin-bottom: 50px;">
							<div class="view-product">
								<img src="../../static\uploads\products\{{ product.product_name }}\{{ product.files }}" />
								<h3>ZOOMER</h3>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="product-information"><!--/product-information-->
								<img src="../../static/user/images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{ product.product_name }}</h2>
								<p>Web ID: {{ product.id }}</p>
{#								<img src="../../static/user/images/product-details/rating.png" alt="" />#}
								<span>
									<span>{{ product.price }} CHF</span>
{#									<label>Quantité:</label>#}
{#									<input type="text" value="3" />#}
                                    {% if product.quantity == 1 or product.quantity > 1  %}
									<a href="/add_product_to_cart/{{ product.id }}" class="btn btn-fefault cart" style="margin-top: 4px;">
										<i class="fa fa-shopping-cart"></i>
										Ajouter au panier
									</a>
                                    {% elif product.quantity == 0 %}
                                    <a href="" class="btn btn-danger" style="margin-top: 4px; margin-left: 25px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>En rupture de stock</a>
                                    {% endif %}
								</span>
								<p><b>Prix ​​reduction</b>&emsp; {{ product.price - product.discount }}</p>
                                <p><b>Catégorie:</b>&emsp; {{ product.category }}</p>
                                <p><b>avis:</b>&emsp;
                                    {% if rate['avg_rate'] in range(1,6) %}
                                    {{ rate['avg_rate'] | int }}
                                    &#47; 5
                                    {% elif rate['avg_rate'] == 0.1,6.0 %}
                                        {% if rate['avg_rate'] == None %}
                                        {{ 'Pas encore de commentaires' }}
                                        {% else %}
                                        {{ rate['avg_rate'] | round(2, 'common') }}
                                        &#47; 5
                                        {% endif %}
{#                                    {{ rate['avg_rate'] | round(2, 'common') }}#}
{#                                    &#47; 5#}
                                    {% elif rate['avg_rate'] == None %}
                                    {{ 'Pas encore de commentaires' }}
                                    {% endif %}
                                </p>
                                <p><b>Disponibilité:</b>&emsp; {% if product.quantity == 1 or product.quantity > 1  %}{{ product.quantity }}{% elif product.quantity == 0 %}{{ 'Out Of Stock' }}{% endif %}</p>
                                <p><b>Publié en date de:</b>&emsp; {{ product.create_date.strftime('%a, %d %b %Y %H:%M:%S') }}</p>
{#								<a href=""><img src="../../static/user/images/product-details/share.png" class="share img-responsive"  alt="" /></a>#}
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">détails du produit</a></li>
								<li><a href="#reviews" data-toggle="tab">Commentaires({{ count_reviews }})</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
                                <p style="padding: 50px; text-align: justify; color: #000; font-size: 18px; font-family: sans-serif;">{{ product.description }}</p>
							</div>
							<div class="tab-pane fade " id="reviews" >
								<div class="col-sm-12">
				{% for data in review %}
									<ul>								
										<li><i class="fa fa-user" style="color: #FE980F;"></i>&ensp;{{ data.user_name }}</li> &emsp;															
										<li><i class="fa fa-clock-o" style="color: #FE980F;"></i>&ensp;{{ data.review_date.strftime('%H:%M:%S') }}</li> &emsp;																				
										<li><i class="fa fa-calendar-o" style="color: #FE980F;"></i> &ensp;{{ data.review_date.strftime('%A, %d %B %Y') }}</li> &emsp;		
										<li><i class="fa fa-star" style="color: #FE980F;"></i> &ensp;{{ data.rate }}</li> &emsp;																											
									</ul>
									<p>{{ data.review }}</p>									
									<br>
									<br>
									<br>
				 {% endfor %}											
									<p><b>Ecrivez votre commentaire</b></p>								
									<form action="{{ url_for('product_review', id=product.id) }}" method="post">
										<textarea name="product_review_area"></textarea>
										<b>Mettez des etoiles: </b> &emsp;
                                        <select name="rate" style="width: 95px;" class="btn btn-default dropdown-toggle">
                                            <option value="1">☆</option>
                                            <option value="2">☆☆</option>
                                            <option value="3">☆☆☆</option>
                                            <option value="4">☆☆☆☆</option>
                                            <option value="5">☆☆☆☆☆</option>
                                        </select>
                                        <br>
                                        <br>
										<button type="submit" class="btn btn-default pull-left">
											Ajouter avis
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">articles recommandés</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for product in products %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<a href="/preview_production/{{ product.id }}"><img src="../../static\uploads\products\{{ product.product_name }}\{{ product.files }}" style="height: 232px;"/></a>
													<h2>{{ product.price }} CHF</h2>
                                                    <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | int}} &#37; de reduction</h3>
													<p style="max-width: 252px; overflow: hidden;">{{ product.product_name | truncate(30) }}</p>
                                                    <p><b>AVIS</b>&emsp;
                                                        {% if product.avg_rate in range(1,6) %}
                                                        {{ product.avg_rate | int }}
                                                        &#47; {{ 5 }}
                                                        {% elif product.avg_rate == 0.1,6.0 %}
                                                            {% if product.avg_rate == 0 %}
                                                            {{ 'Pas encore noté' }}
                                                            {% else %}
                                                            {{ product.avg_rate | round(2, 'common') }}
                                                            &#47; {{ 5 }}
                                                            {% endif %}
                                                        {% elif product.avg_rate == None %}
                                                        {{ 'Pas encore noté' }}
                                                        {% endif %}
                                                    </p>
                                                    {% if product.quantity == 1 or product.quantity > 1  %}
													<a href="/add_product_to_cart/{{ product.id }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                                    {% elif product.quantity == 0 %}
                                                    <a href="" class="btn btn-danger" style="margin-bottom: 24px; margin-left: 25px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>En rupture de stock</a>
                                                    {% endif %}
												</div>
											</div>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>

    {% include 'includes/website_footer.html' %}

  
    <script src="../../static/user/js/jquery.js"></script>
	<script src="../../static/user/js/price-range.js"></script>
    <script src="../../static/user/js/jquery.scrollUp.min.js"></script>
	<script src="../../static/user/js/bootstrap.min.js"></script>
    <script src="../../static/user/js/jquery.prettyPhoto.js"></script>
    <script src="../../static/user/js/main.js"></script>
</body>
</html>