<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau utilisateur</title>
    <link href="../static/aquama.ico" rel="icon">
    <link href="../static/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/user/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/user/css/price-range.css" rel="stylesheet">
    <link href="../static/user/css/animate.css" rel="stylesheet">
	<link href="../static/user/css/main.css" rel="stylesheet">
	<link href="../static/user/css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		{% include 'includes/website_navbar.html' %}
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="../static/user/images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{% if session.user_logged_in %}
                                <li><a href="/user_account" class="active"><i class="fa fa-user"></i> Compte</a></li>
								<li><a href="/add_to_cart"><i class="fa fa-shopping-cart"></i> Panier</a></li>
                                <li><a href="/user_logout"><i class="fa fa-lock"></i>Se deconnecter</a></li>
                                {% else %}
                                <li><a href="/user_register"><i class="fa fa-edit"></i>S'enrengistrer</a></li>
								<li><a href="/user_login"><i class="fa fa-lock"></i>Se connecter</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Page d'accueil</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products/1">Produits</a></li>
                                        {% if session.user_logged_in %}
										<li><a href="/add_to_cart">Panier</a></li>
                                        {% else %}
										<li><a href="/user_register">S'enrengistrer</a></li>
                                        <li><a href="/user_login">Se connecter</a></li>
                                        {% endif %}
                                    </ul>
                                </li> 

							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form action="{{url_for('user_search')}}" method="post">
                                <input type="text" name="search" placeholder="recherche" value="{{request.form.search}}" autocomplete="off">
                            </form>
						</div>
					</div>
				</div>
				</div>
			</div>
	</header>

	<section>
		<div class="container">
			<div class="row">
            <div class="card">

                <div class="card-body">
                    {% include 'includes/_messages.html' %}
                    <h3 class="text-center" style="margin-top: 0;">Bonjour, {{ session['user_username'] }}</h3>
                    <a href="{{ url_for('user_change_password') }}" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> &emsp; changer le mot de passe du compte</a>
                    <br>
                    <br>
                    <!-- Button trigger modal -->
                    <button class="dropdown-item btn btn-danger" href="" data-toggle="modal" data-target="#delete_my_account">
                        <i class="fa fa-trash-o"></i> &emsp; Suprimmer mon compte
                    </button>

                    <img src="../static/uploads/users/{{ session['user_username'] }}/{{ user_image }}" style="max-width: 20%; max-height: 20%; display: block; margin: -65px auto 65px; border-radius: 6px;">
                    <form action="{{ url_for('user_profile_picture') }}" method="post" enctype="multipart/form-data" class="form-group">
                        <input type="file" name="file" class="form-control" style="max-width: 20%; display: block; margin: 10px auto;">
                        <input type="submit" value="Ajouter image" class="btn btn-primary" style="display: block; margin: 25px auto 50px;">
                    </form>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Nom du produit</th>
                            <th>Statut</th>
                            <th>Quantite</th>
                            <th>Prix</th>
                            <th>Remise</th>
                            <th>Total</th>
                            <th>Date d'achat</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                          <tr>
                            <td>{{ order.product_name }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.discount }}</td>
                            <td>{{ (order.price - order.discount) * order.quantity }}</td>
                            <td>{{ order.order_date.strftime('%a, %d %b %Y %H:%M:%S') }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                </div>
            </div>


				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->

					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
    {% include 'includes/website_footer.html' %}


    <!-- delete_my_account modal -->
    <!-- Modal -->
    <div class="modal fade" id="delete_my_account" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Suprimmer votre compte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Voulez-vous vraiment supprimer votre compte du site Web et de ses fichiers et avis sur les produits?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <a href="{{ url_for('delete_user_account') }}"><button class="btn btn-danger">Confirmer la suppression de mon compte</button></a>
          </div>
        </div>
      </div>
    </div>




    <script src="../static/user/js/jquery.js"></script>
	<script src="../static/user/js/price-range.js"></script>
    <script src="../static/user/js/jquery.scrollUp.min.js"></script>
	<script src="../static/user/js/bootstrap.min.js"></script>
    <script src="../static/user/js/jquery.prettyPhoto.js"></script>
    <script src="../static/user/js/main.js"></script>
</body>
</html>